<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>+Cotas | Jugueteria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles/styleJuan.css">
    <link rel="stylesheet" href="./assets/styles/footer-style.css">
    <link rel="stylesheet" href="./assets/styles/NAV-BAR.css">
    <link rel="stylesheet" href="./assets/styles/style-cartas.css">
    <link rel="shortcut icon" href="./assets/images/pet-paw.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--VUE-->
</head>

<body id="app" class="body-color d-flex flex-column">
    <header>
        <div class="fixed">
            <img src="https://tse2.mm.bing.net/th?id=OIP.4mdGP8tXnP88mI8yIY1fnQHaHa&pid=Api&P=0" alt="">
        </div>
        <section class="section-navBar2">
            <div class="nav2">
                <img src="https://media.discordapp.net/attachments/1049367005242867833/1065269394416078868/mascotasSinFondo.png?width=644&height=362"
                    alt="">
                <nav class="navbar navBar2 navbar-expand-lg navbar-light">
                    <div class="container-fluid container-fluid-2 navBarcontainer-fluid-2/2">
                        <button class="navbar-toggler boton-nav-2" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse collapse-navbar2" id="navbarNavAltMarkup">
                            <div class="navbar-nav contenedor-de-ancors-nav2">
                                <a class="nav-bar-a-nav2 navBarHome" aria-current="page" href="./index.html">inicio</a>
                                <a class="nav-bar-a-nav3" href="./productos.html">nuestros productos</a>
                                <a class="nav-bar-a-nav4" href="./farmacia.html">farmacia</a>
                                <a class="nav-bar-a-nav5" href="#" tabindex="-1"
                                    aria-disabled="true">jugueteria</a>
                                <a class="nav-bar-a-nav6 navBarNuestrosProductos" href="./contacto.html">contacto</a>
                            </div>
                            <div class="nav-bar-items-nav2">
                                <a href="" data-bs-toggle="modal" data-bs-target="#myModal">
                                    <i class="fa-solid fa-cart-shopping">
                                        <span v-if="cantidadEnCarrito>0"
                                            class="badge rounded-pill bg-danger">{{cantidadEnCarrito}}</span>
                                    </i>
                                </a>
                                <a href=""><i class="fa-solid fa-user"></i></a>
                                <a href=""><i class="fa-solid fa-star"></i></a>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </section>
    </header>

    <main style="min-height: 50em;" class="d-flex flex-column">
        <div class="home-box-title">
            <section class="d-flex justify-content-start home-box-section-title">
                <div class="d-flex flex-column align-items-center">
                    <h1 class="home-title ps-sm-5">Jugueteria +COTAS</h1>
                </div>
            </section>
        </div>

        <!------------------------------SECCION CARTAS------------------------------------------->

        <!-- MODAL -->
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header ">
                        <h4 class="modal-title bg-success bg-gradient rounded-2">Carrito</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <template v-for="producto of carrito">
                            <div
                                class="modalCard p-3 mb-2 gap-2 d-flex flex-column flex-sm-row justify-content-between align-items-center w-100 h-100 rounded-2">
                                <img class="rounded-4" :src="producto.imagen" style="width: 10em; height: 10em;">
                                <div
                                    class="cardBody d-flex flex-column justify-content-between align-items-center w-50">
                                    <h5 class="text-center fw-bold">{{producto.producto}}</h5>
                                    <div
                                        class="d-flex flex-sm-column gap-2 justify-content-evenly align-items-center h-100 w-100">
                                        <p class="m-0 fw-bold">Price: ${{producto.precio * producto.cantidad}}</p>
                                        <div class="d-flex gap-2 align-items-center">
                                            <button @click="agregarAlCarrito(producto)" type="button"
                                                class="btn  btn-sm btn-secondary">
                                                +
                                            </button>
                                            <span>{{producto.cantidad}}</span>
                                            <button @click="quitarDelCarrito(producto)" type="button"
                                                class="btn  btn-sm btn-secondary">
                                                -
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="cartas-color-fondo d-flex flex-column align-items-center col pt-5">

            <div class="CONTENEDOR-CARTAS d-flex flex-column flex-lg-row gap-2 justify-content-evenly col-10 col-lg-12">
                <div class="FILTROS d-flex flex-column align-items-center col col-lg-3">
                    <!--BARRA DE BUSQUEDA-->

                    <div class="d-flex col-12 col-sm-10 col-md-8 col-lg-8" role="search">
                        <label for="" class="col-12 form-label">Buscar:
                            <input @input="filtro" v-model="valorBusqueda" id="searchBar" class="col-lg-8 form-control"
                                placeholder="Escriba aqui" aria-label="Search">
                        </label>
                    </div>

                    <!-- SELECTORES -->
                    <div class="d-flex col-12 col-sm-10 col-md-8 col-lg-8">
                        <div class="mb-3 w-100">
                            <label for="" class="form-label">Mascotas:</label>
                            <select v-model="modelMascotas" @change="filtro" class="form-select form-select-lg" name=""
                                id="">

                                <option value="productos">Todas</option>
                                <option value="perros">Perros</option>
                                <option value="gatos">Gatos</option>
                            </select>
                        </div>
                    </div>

                    <div class="d-flex col-12 col-sm-10 col-md-8 col-lg-8">
                        <div class="mb-3 w-100">
                            <label for="" class="form-label">Precio:</label>
                            <select v-model="modelPrecios" @change="filtro" class="form-select form-select-lg" name=""
                                id="">
                                <option value="vacio">Elija un rango</option>
                                <option value="hasta1000">Hasta $1000</option>
                                <option value="de1000a2000">De $1000 a $2000</option>
                                <option value="mas2000">Mas de $2000</option>
                            </select>
                        </div>
                    </div>

                </div>
                              <!--CARTAS-->
                              <div class="container w-100">
                                <div class="d-flex justify-content-center w-100">
                                    <div class="row w-100 gap-1 gap-md-0 ">
                                        <template v-if="datos.length===0">
                                            <h2 class="text-center">No existen resultados para su busqueda</h2>
                                        </template>
                                        <template v-for="producto of datos">
                                            <div
                                                class="col-lg-4 col-md-6 m-0 bg-white border rounded d-flex flex-column justify-content-center align-items-center">
                                                <div class="col-lg-10 mt-1">
                                                    <a :href="'./detalle.html?id='+producto._id">
                                                        <img class="carta-img-size  img-responsive rounded product-image"
                                                        :src=producto.imagen>
                                                    </a>
                                                </div>
                                                <div
                                                    class="carta-size col-md-10 col-lg-12 mt-1 d-flex flex-column justify-content-between align-items-center">
                                                    <div class="carta-texto">
                                                        <a :href="'./detalle.html?id='+producto._id"style="text-decoration:none;">
                                                            <h5>{{producto.producto}}</h5>
                                                        </a>
            
                                                        <div class="d-flex flex-row align-items-center">
                                                            <h4 class="mr-1">${{producto.precio}}</h4>
                                                                
                                                        </div>
                                                        <h6>Disponibles: {{producto.disponibles}}</h6>
            
                                                        <div v-if='producto.disponibles===0'>
                                                            <h5 class="text-danger mb-lg-0">Sin Stock!</h5>
                                                        </div>
                                                        <div v-if="producto.disponibles<=5&&producto.disponibles!==0">
                                                            <h5 class="text-danger mb-lg-0">Ultimas unidades!</h5>
                                                        </div>
                                                        <!-- <a :href="'./detalle.html?id='+producto._id+'" class="btn btn-danger p-1 rounded-3 btn-sm">Details</a> -->
                                                    </div>
            
                                                    <div class=" d-flex flex-column flex-md-row gap-2 mt-4 pb-2">
                                                        
                                                        <button @click="agregarAlCarrito(producto)"
                                                            :class="producto.disponibles!==0?'btn btn-success btn-sm':'btn strike-text btn-outline-dark disabled btn-sm'"
                                                            type="button">Agregar al carrito</button>
                                                    </div>
            
                                                </div>
                                                <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <!-----------------------------------FIN SECCION CARTAS--------------------------------------->
    </main>


    <footer class="pie-pagina mt-5">
        <div class="grupo-1">
            <div class="box direction">
                <iframe class="marco"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d821.0607710453776!2d-58.40174257082008!3d-34.598014194840154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0xafb5fe117a2c5a52!2sParaguay%202334%2C%20C1121ABL%20CABA!5e0!3m2!1ses-419!2sar!4v1673792818924!5m2!1ses-419!2sar"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <p>Dirección: Paraguay 2334 5 F - CABA</p>

            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS</h2>
                <p>Equipo conformado por:</p>
                <a href="https://github.com/fdmarzialetti" target="_blank"> Fernando Marzialetti </a>
                <a href="https://github.com/juancalvo864" target="_blank"> Juan Calvo </a>
                <a href="https://github.com/emiliano45214" target="_blank"> Emiliano Brizio </a>
                <a href="https://github.com/OscarGRubianoA" target="_blank">Oscar Rubiano</a>
                <a href="https://github.com/Dferprojects" target="_blank">Leonardo Fernández Jara</a>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="red-social">
                    <a href="https://web.facebook.com/" target="_blank" class="fa fa-facebook" id="face"></a>
                    <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram" id="insta"></a>
                    <a href="https://web.whatsapp.com/" target="_blank" class="fa fa-whatsapp" id="wasap"></a>
                    <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube" id="youtube"></a>
                </div>
            </div>
        </div>
        <div class="grupo1-bis">
            <figure class="footer-container">
                <img class="perro" src="./assets/images/perropng.png" alt="perrobado">
            </figure>

            <div class="helpAcount">
                <div class="footer-container">
                    <h5>CUENTA</h5>
                    <a href="#carroDeCompras">Mi Cuenta</a>
                    <a href="#carroDeCompras" data-bs-toggle="modal" data-bs-target="#myModal">Mis Compras</a>
                    <a href="#carroDeCompras">Carrito</a>
                    <a href="#inicio">Tienda</a>
                </div>
                <div class="footer-container">
                    <h5> AYUDA</h5>

                    <a href="./contacto.html">Preguntas Frecuentes</a>
                    <a href="#servicios">Servicios</a>
                    <a href="#nosotros">Sobre nosotros</a>

                </div>
            </div>


            <figure class="payment">
                <h5>MÉTODOS DE PAGO</h5>
                <img class="icons-card"
                    src="https://sucanuy.vtexassets.com/assets/vtex/assets-builder/sucanuy.sucanuy-store-theme/1.20.15/imgs/footer/logo-visa___bb0f278dad9375079961d92af68b9a73.svg"
                    alt="visa">
                <img class="icons-card"
                    src="https://sucanuy.vtexassets.com/assets/vtex/assets-builder/sucanuy.sucanuy-store-theme/1.20.15/imgs/footer/logo-master___96c3af8ab683e39ea9460dea1b4ba532.svg">
                <img class="icons-card" src="https://iconape.com/wp-content/png_logo_vector/mercadopago-logo.png"
                    alt="mercadopago">
            </figure>

        </div>
        <div class="grupo-2">
            <small>&copy; 2023 <b>+Cotas</b> - Todos los Derechos Reservados - Grupo 3 - Cohorte 41</small>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4ffb8edd00.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>