<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>+Cotas | Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="./assets/styles/styleJuan.css">
  <link rel="stylesheet" href="./assets/styles/footer-style.css">
  <link rel="stylesheet" href="./assets/styles/NAV-BAR.css">
  <link rel="shortcut icon" href="./assets/images/pet-paw.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--VUE-->
  <link rel="stylesheet" href="./assets/styles/stylecontact.css">

</head>
<body id="app"class="respuesta__body">
  <header>
    <div class="fixed">
        <img src="https://tse2.mm.bing.net/th?id=OIP.4mdGP8tXnP88mI8yIY1fnQHaHa&pid=Api&P=0" alt="">
    </div>
    <section class="section-navBar2">
        <div class="nav2">
            <img src="https://media.discordapp.net/attachments/1049367005242867833/1065269394416078868/mascotasSinFondo.png?width=644&height=362"
                alt="">
            <nav class="navbar navBar2 navbar-expand-lg navbar-light">
                <div class="container-fluid container-fluid-2 navBarcontainer-fluid-2/2">
                    <button class="navbar-toggler boton-nav-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse collapse-navbar2" id="navbarNavAltMarkup">
                        <div class="navbar-nav contenedor-de-ancors-nav2">
                            <a class="nav-bar-a-nav2 navBarHome" aria-current="page" href="#">Inicio</a>
                            <a class="nav-bar-a-nav3" href="./productos.html">Nuestros Productos</a>
                            <a class="nav-bar-a-nav4" href="./farmacia.html">Farmacia</a>
                            <a class="nav-bar-a-nav5" href="./jugueteria.html" tabindex="-1"
                                aria-disabled="true">Jugueteria</a>
                            <a class="nav-bar-a-nav6 navBarNuestrosProductos" href="./contacto.html">Contacto</a>
                        </div>
                        <div class="nav-bar-items-nav2">
                            <a href="" data-bs-toggle="modal" data-bs-target="#myModal">
                                <i class="fa-solid fa-cart-shopping">
                                    <span v-if="cantidadEnCarrito>0"
                                        class="badge rounded-pill bg-danger">{{cantidadEnCarrito}}</span>
                                </i>
                            </a>
                            <a href="" data-bs-toggle="modal" data-bs-target="#usuario"><i class="fa-solid fa-user"></i></a>
                            <a href=""><i class="fa-solid fa-star"></i></a>
                        </div>
                    </div>
                </div>
            </nav>

        </div>
    </section>
</header>

<!-- MODAL --->
<div class="modal" id="usuario">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Ingrese</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form class="modal-form-usuario">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Ingrese su mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">Nunca compartiremos sus datos.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Acepto todas las
                        condiciones</label>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
    </div>
</div>
</div>
<div class="modal" id="myModal">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header ">
            <h4 class="modal-title   rounded-2">Carrito de compras</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <template v-for="producto of carrito">
                <div
                    class="modalCard p-3 mb-2 gap-2 d-flex flex-column flex-sm-row justify-content-between align-items-center w-100 h-100 rounded-2">
                    <img class="rounded-4" :src="producto.imagen" style="width: 10em; height: 10em;">
                    <div
                        class="cardBody d-flex flex-column justify-content-between align-items-center w-50">
                        <h5 class="text-center fw-bold">{{producto.producto}}</h5>
                        <div
                            class="d-flex flex-sm-column gap-2 justify-content-evenly align-items-center h-100 w-100">
                            <p class="m-0 fw-bold">Valor por unidad: ${{producto.precio}}</p>
                            <p class="m-0 fw-bold">Total: ${{producto.precio * producto.cantidad}}</p>
                            <div class="d-flex gap-2 align-items-center">
                                <p class="m-0 fw-bold">Cantidad:</p>
                                <button @click="agregarAlCarrito(producto)" type="button"
                                    class="btn  btn-sm btn-secondary">
                                    +
                                </button>
                                <span>{{producto.cantidad}}</span>
                                <button @click="quitarDelCarrito(producto)" type="button"
                                    class="btn  btn-sm btn-secondary">
                                    -
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </template>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <h3 class="fw-bolder">Total a pagar: ${{totalPrecio}}</h3 class=>
            <button type="button" @click="vaciarCarrito" class="btn btn-success" data-bs-dismiss="modal">Finalizar Compra</button>
        </div>
    </div>
</div>
</div>

<div class="respuesta__titulo">
    <h1 class="contact__h1">Centro de Atencion al Cliente</h1>
</div>

<a>Centro de atencion al cliente</a>
&nbsp;<i>></i>&nbsp;
<a>problemas de pedidos</a>
&nbsp;<i>></i>&nbsp;
<a >Mi pedido aun no ha sido entregado.</a>

<main class="main__respuesta_contact">
    <aside class="respuesta__aside">
    <h3>problemas de pedidos</h3>
    <hr >
    <a class="respuesta__active">Mi pedido aun no ha sido entregado.</a>
    <a href="">Problema en la aduana<span class="respuesta__span">=></span></a>
    <a href="">Modificar mi pedido<span class="respuesta__span">=></span></a>
    <a href="">Cancelar mi pedido<span class="respuesta__span">=></span></a>
    <a href="">¿Como se si mi pedido ya ha sido enviado?<span class="respuesta__span">=></span></a>
    <a href="">Recibi un producto dañado<span class="respuesta__span">=></span></a>
    <a href="">Recibi un producto incorrecto<span class="respuesta__span">=></span></a>
    <a href="">falta un articulo de mi pedido<span class="respuesta__span">=></span></a>
    <a href="">Compre un producto pero ahora tiene otro precio en la web<span class="respuesta__span">=></span></a>
    <a href="">Partes faltantes de un producto<span class="respuesta__span">=></span></a>
    <a  class="contact__button__contact" href="./form.html"><ul ><li class="contact__li"><span class="contact__button__agent">Contacta con un agente</span></li></ul></a> 
</aside>
<div>
    <h2 class="respuesta__subtitulo">Mi pedido aun no ha sido entregado</h2>
    <br>
    <br>
    
    <p>Si tu pedido no ha sido entregado puede ser por varios motivos.
<br>
        Primero, verifique su fecha de entrega estimada en su cuenta de cliente o en su correo electrónico de confirmación de pedido (permita hasta esta fecha para que llegue su pedido). Si la fecha estimada de entrega es posterior a la fecha de hoy, no te preocupes, todo va según lo planeado y deberías recibir tus productos en breve.
        <br>
        <br>
        
        
        <b>Mi pedido aún no ha sido enviado:</b>
        <br>
        <br>
        Una vez que su pedido haya sido enviado, le enviaremos un correo electrónico con un enlace para que pueda rastrearlo. ¡Prestar atención!
<br>
        En caso de que haya pasado la fecha de cierre y aún no hayas recibido tu pedido, nos pondremos en contacto contigo lo antes posible. Sin embargo, si tiene alguna pregunta, no dude en contactarnos primero.
        <br>
        <br>
        
        <b>Mi pedido está en proceso:</b>
        <br>
        <br>
        Si tu pedido está en proceso es porque aún se encuentra en nuestras instalaciones y se está preparando para su envío. La duración de este estado ("en proceso") puede ser de 1 a 10 días, según los artículos que haya pedido. Si son más de 10 días, esto podría indicar un incidente inusual.
        <br>
        En este caso le informaremos lo antes posible. Asegúrese de revisar su correo electrónico, ya que es posible que ya le hayamos enviado un mensaje con respecto a este problema. Si tiene alguna pregunta, puede contactarnos primero.
        <br>
        Una vez que su pedido haya sido enviado, le enviaremos un correo electrónico con un enlace para que pueda rastrearlo. ¡Prestar atención!
        <br>
        <br>
         
        
        <b>Mi pedido está en envío:</b>
        <br>
        <br>
        Si su pedido está "en envío", recibirá su pedido de inmediato. Recibirá un correo electrónico de confirmación de envío de nuestro almacén una vez que su pedido esté en camino; simplemente haga clic en su enlace de seguimiento en el correo electrónico para ver el seguimiento actualizado.
        <br>
        <br>
        Tu pedido puede ser entregado de 8:00 am a 8:00 pm de lunes a viernes (excepto festivos).
        </p>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4ffb8edd00.js" crossorigin="anonymous"></script>
<script src="./assets/scripts/main.js"></script>
</body>
</body>
</html>