*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact__h1{
    text-align: center;
}
.titulo__contact{
    height: 35vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.247);
    justify-content: center;
    align-items: center;
    background-image: url(../images/centro__atencion__cliente.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
   
    object-fit: contain;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.9rem;
    color:black;
    font-weight: bolder;
    

}
.contact__supertitulo{
    font-weight: bolder;
    color:white;
     background-color: rgba(0, 0, 0, 0.322); 
    border-radius: 5px;
    padding: .5rem;
}
.main__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .6rem;
}
.main__contact div{
    display: flex;
}
.contact__a{
    text-decoration: none;
    color:black;
}
.contact__a:hover{
    color: #FFA600CB;
}
.contact__checkbox{
    display: flex;
    flex-direction: column;
}
.contact__container__information{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    
}
.contact__container__information section{
    border: 1px solid #FFA600CB;
     padding: 1rem; 
    gap: 1rem;
    background-color: #f0faff;
}
.contact__container__information div{
    display: flex;
     gap:1rem;
} 
.contact__container__informationII{
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.contact__container__informationII section{
    border: 1px solid #FFA600CB;
    padding: 1rem;
    width: 50%;
    display: flex;
    gap: 1rem;
    background-color: #f0faff;
    
}
.contact_-section{
    display: flex;
    flex-direction: column;
    
    
}
.contact__h2{
    color:#5f4719;
    text-align: center;
    padding: 2rem;
    font-weight: bolder;
}
.contact__h3{
    text-align: center;
}
.contact__section__Questions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    height: 20vh;
    font-size: 1.5rem;
    gap: 1rem;
    color: #4B4B4B;
    background-color: #f0faff;
   height: 40vh;
   
    
}
.contact__section__Questions a{
    margin:0rem 3rem;
    text-align: left;
    
    width: 35rem;
    border: 1px solid #FFA600CB;
    border-radius: .5rem;
    padding: 1rem;
    
    
}
.contact__section__Questions a:hover{
    background-color: white;
    color:#313131;
    box-shadow:#FFA600CB 0px 5px 15px;
}
.contact__main__bottom{
    display: flex;
    flex-direction: column;
    gap:3rem;
    justify-content: center;
    align-items: center;
}
.contact__button__contact {
    background-color: #313131;
    padding:1rem;
    padding-left: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2rem;
    width: 17rem; 
    color:green;
    list-style: inside;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
 .contact__button__contact:hover{
    color:green;
    background-color: black;
} 
 .contact__li{
    font-size: 1rem;
    color: green;
} 
.contact__button__agent{
    color: white;
}   

.contact__span{
    color: green;
}
.contact__button__mail{
    background-color: #ffa600fb;
    padding: 1rem;
    color:black;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: .5rem;
    width: 15rem;
}

.contact__button__mail:hover{
    color: white;
    
}

.contact__container__bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.contact__input__mail{
    width: 20rem;
    padding: .9rem;
    border-radius: 2rem;
}
.contact__input__mail:hover{
    border:3px solid #FFA600CB;
    box-shadow:#FFA600CB 0px 5px 15px;
}
.contact__input__submit{
    color:black;
    background-color: #ffa600;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 2rem;
    border: none;
    
}
.contact__input__submit:hover{
    background-color: crimson;
    color: white;
}
.contact__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.contact__form div{
    display: flex;
    gap: 1rem;
}
.main__respuesta_contact{
    display: flex;
    padding: 1rem;
    
}
.respuesta__aside{
    
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
.respuesta__titulo{
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/centro__atencion__cliente.jpg);
    background-repeat: no-repeat;
    background-size: 100% 300%;
    background-position:center;
    margin: 1rem 0 1rem 0;
    font-family: Arial, Helvetica, sans-serif;
    
    color: black;
    
}
.respuesta__aside a{
    text-decoration: none;
    color: black;
}
.respuesta__span{
    color:#ffa600;
}
.respuesta__active{
    background-color: #FFA600CB;
    border-radius: 5px;
    padding: 3px;
    font-weight:600;
    
}
.respuesta__body{
    padding: 1rem;
    
}
.respuesta__subtitulo{
    font-size: 2rem;
}
  

@media only screen and (min-width: 300px) and (max-width:1350px){
    .contact__section__Questions{
        display: none;
    }
     .contact__container__information{
       flex-wrap: wrap;
    } 
    .contact__container__bottom div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        min-height: 30vh; 
        
    }
    .contact_-section{
        display: none;
    }

}
@media only screen and (min-width: 300px) and (max-width:675px){
.contact_-section{
    display: none;
}
    .contact__form  div{
    flex-direction: column;
}
.contact__container__information{
    display: none;
    
}
.main__respuesta_contact{
    display: flex;
    flex-direction: column;
}
}
@media only screen and (min-width: 300px) and (max-width:337px){
    .contact__input__mail{
        width: 14rem;
    }
}